PI_AGENT_SERVER_URL=http://103.124.94.194
PI_AGENT_TOKEN=change_me_pi_agent_token
PI_AGENT_NAME=pi-lens-rig-01

PI_UART_ENABLED=true
PI_UART_PORT=/dev/serial0
PI_UART_BAUD_RATE=115200
PI_UART_ACK_TIMEOUT_MS=800
PI_AGENT_FOCUS_ONLY=false

